/* Police du site */
ul {
    list-style: none;
}

#navbar {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100%;
    background-image: url("https://imgur.com/YLmf2Mh.jpg");
}

#navbar p {
    color: white;
}
  
.nav-list {
    display: flex;
}

.nav-list li {
    margin-right: 2rem;
}

a {
    color: white;
    text-decoration: none;
}
