.footer {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}
  
.contact-links img {
    margin-right: 25px;
}

.contact-links {
    display: flex;
    align-items: center;
}
  
.contact-links a {
    color: #000000;
}
  
.footer > p {
    margin: 2rem;
}
