<div class="footer">
    <p>2020 - LUCAS BLANDIN</p>
    <!-- <div class="contact-links">
        <a href="mailto:lucasblandin@hotmail.fr" target="_blank"><img src="assets/img/mail.png" alt="Contact"></a>
        <a href="https://www.linkedin.com/in/lucasblandin/" target="_blank"><img src="assets/img/linkedin.png" alt="Linkedin"></a>
        <a href="https://github.com/delasalle-sio-blandin-l" target="_blank"><img src="assets/img/GitHub.png" alt="Git Hub"></a>
        <a href="https://www.behance.net/lucasblandff43" target="_blank"><img src="assets/img/behance.png" alt="Behance"></a>
    </div>  -->
    <div class="contact-links">
        <a href="mailto:lucasblandin@hotmail.fr" target="_blank"><img src="assets/img/mail.png" alt="mail"></a>
        <a href="https://www.linkedin.com/in/lucasblandin/" target="_blank"><img src="assets/img/linkedin.png" alt="Linkedin"></a>
        <a href="https://github.com/delasalle-sio-blandin-l" target="_blank"><img src="assets/img/github.png" alt="Git Hub"></a>
        <a href="https://www.behance.net/lucasblandff43" target="_blank"><img src="assets/img/behance.png" alt="Behance"></a>
    </div>
</div>

<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script> 




