/* Police du site */
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

.footer {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
  
.contact-links img {
    margin-right: 25px;
}

.contact-links {
    display: flex;
    align-items: center;
}
  
.contact-links a {
    color: #000000;
}
  
.footer > p {
    margin: 2rem;
}
