<div class="footer">
    <p>2020 - LUCAS BLANDIN</p>
    <div class="footer-links">
        <img src="assets/img/mail.png" alt="Contact" width="23px" height="23px">
        <a href="https://www.linkedin.com/in/lucasblandin/"><img src="assets/img/linkedin.png" alt="Linkedin" width="23px" height="23px"></a>
        <a href="https://github.com/delasalle-sio-blandin-l"><img src="assets/img/GitHub.png" alt="Git Hub" width="23px" height="23px"></a>
        <a href="https://www.behance.net/lucasblandff43"><img src="assets/img/behance.png" alt="Behance" width="23px" height="23px"></a>
    </div>
</div>




