<h2 id="about">A PROPOS</h2>
<p>Etudiant en première année de master développeur full-stack à la recherche d'une alternance.
    Passionné par la programmation j'ai beacoup appris en autodidacte, HTML/CSS pour commencer
    grâce à OpenClassroom et FreeCodeCamp, puis ensuite le JavaScript. En ce qui concerne 
    le back-end, je vais en apprendre plus en Symfony et Laravel. <br><br>
    

    Grâce à mon Bachelor à MyDigitalSchool j'ai pu me perfectionner en MySQL et PHP, notamment 
    grâce au framework Symfony, mais aussi en Front en apprennant l'Angular. 
    Grâce à ses bases j'ai pu découvrir de nouveaux langages et je vais pouvoir les perfectionner
    à l'aide de projets. <br><br>


    Vous pouvez trouver mes projets les plus significatif sur mon GitHub.
</p>
