<h2>PORTFOLIO</h2>

<section class="ligne1">
    <section class="projet1">
        <div class="entete">
            <img src="" alt="img-projet">
            <h3>TITRE</h3>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis eu felis in maximus. 
            Sed iaculis porttitor sapien id pulvinar. Vestibulum malesuada eget elit eget ornare. Morbi 
            dictum, ligula ut vulputate pellentesque, justo enim pulvinar est, vel blandit sem metus 
            sit amet risus.
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="" alt="img-techno1">
                <img src="" alt="img-techno2">
                <img src="" alt="img-techno3">
            </div>
        </div>
    </section>

    <section class="projet2">
        <div class="entete">
            <img src="" alt="img-projet">
            <h3>TITRE</h3>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis eu felis in maximus. 
            Sed iaculis porttitor sapien id pulvinar. Vestibulum malesuada eget elit eget ornare. Morbi 
            dictum, ligula ut vulputate pellentesque, justo enim pulvinar est, vel blandit sem metus 
            sit amet risus.
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="" alt="img-techno1">
                <img src="" alt="img-techno2">
                <img src="" alt="img-techno3">
            </div>
        </div>
    </section>

    <section class="projet3">
        <div class="entete">
            <img src="" alt="img-projet">
            <h3>TITRE</h3>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis eu felis in maximus. 
            Sed iaculis porttitor sapien id pulvinar. Vestibulum malesuada eget elit eget ornare. Morbi 
            dictum, ligula ut vulputate pellentesque, justo enim pulvinar est, vel blandit sem metus 
            sit amet risus.
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="" alt="img-techno1">
                <img src="" alt="img-techno2">
                <img src="" alt="img-techno3">
            </div>
        </div>
    </section>
</section>

<section class="ligne2">
    <section class="projet1">
        <div class="entete">
            <img src="" alt="img-projet">
            <h3>TITRE</h3>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis eu felis in maximus. 
            Sed iaculis porttitor sapien id pulvinar. Vestibulum malesuada eget elit eget ornare. Morbi 
            dictum, ligula ut vulputate pellentesque, justo enim pulvinar est, vel blandit sem metus 
            sit amet risus.
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="" alt="img-techno1">
                <img src="" alt="img-techno2">
                <img src="" alt="img-techno3">
            </div>
        </div>
    </section>

    <section class="projet2">
        <div class="entete">
            <img src="" alt="img-projet">
            <h3>TITRE</h3>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis eu felis in maximus. 
            Sed iaculis porttitor sapien id pulvinar. Vestibulum malesuada eget elit eget ornare. Morbi 
            dictum, ligula ut vulputate pellentesque, justo enim pulvinar est, vel blandit sem metus 
            sit amet risus.
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="" alt="img-techno1">
                <img src="" alt="img-techno2">
                <img src="" alt="img-techno3">
            </div>
        </div>
    </section>

    <section class="projet3">
        <div class="entete">
            <img src="" alt="img-projet">
            <h3>TITRE</h3>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis eu felis in maximus. 
            Sed iaculis porttitor sapien id pulvinar. Vestibulum malesuada eget elit eget ornare. Morbi 
            dictum, ligula ut vulputate pellentesque, justo enim pulvinar est, vel blandit sem metus 
            sit amet risus.
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="" alt="img-techno1">
                <img src="" alt="img-techno2">
                <img src="" alt="img-techno3">
            </div>
        </div>
    </section>
</section>
