<h2>PORTFOLIO</h2>

<section class="ligne1">
    <section class="projet1">
        <div class="entete">
            <img src="assets/img/carre_noir.png" alt="img-projet" width="110px" height="110px">
            <h3>CityAccess</h3>
        </div>

        <p>CityAccess est une application mobile permettant de trouver des city parc à coté de chez sois. 
            L'utilisateur a accès a une map ou sont localisés les terrains pret de chez lui et il 
            a aussi possibilité de se localiser. Il y a différentes fonctionnalités comme une liste des 
            terrains et actualités ou encore des règles simples sur les sports présent dans les city parc. 
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="assets/img/java.png" alt="java" width="23px" height="23px">
                <img src="assets/img/php.png" alt="php" width="23px" height="23px">
                <img src="assets/img/mysql.png" alt="mysql" width="23px" height="23px">
            </div>
        </div>

        <div class="code">
            <p>Code</p>
            <div class="img-code">
                <a href="https://github.com/gauthierqueaumdp/CityAccessAndroid"><img src="assets/img/GitHub.png" alt="Github" width="23px" height="23px"></a>
            </div>
        </div>
    </section>

    <section class="projet2">
        <div class="entete">
            <img src="assets/img/carre_noir.png" alt="img-projet" width="110px" height="110px">
            <h3>Tour of Heroes</h3>
        </div>

        <p>Tutorial disponible sur la documentation d'Angular pour pouvoir comprendre
            les méchanismes du framework.
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="assets/img/angular.png" alt="angular" width="23px" height="23px">
            </div>
        </div>

        <div class="code">
            <p>Code</p>
            <div class="img-code">
                <a href="https://github.com/delasalle-sio-blandin-l/Tour-of-Heroes"><img src="assets/img/GitHub.png" alt="Github" width="23px" height="23px"></a>
            </div>
        </div>
    </section>

    <section class="projet3">
        <div class="entete">
            <img src="assets/img/carre_noir.png" alt="img-projet" width="110px" height="110px">
            <h3>Astuce PC</h3>
        </div>

        <p>Site vitrine réalisé en PHP, HTML/CSS et Javascript pour l'entreprise
            Astuce PC situé à Rennes. 
            J'ai effectué ce projet durant un stage de 14 semaines. 
            Le site permet d'accéder à la liste des produits de l'entreprise, un formulaire
            de contact, une page présentant la société et une page d'accueil avec différentes
            fonctionnalités. 
            Le projet a été réalisé seul en autonomie.
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="" alt="img-techno1">
                <img src="" alt="img-techno2">
                <img src="" alt="img-techno3">
            </div>
        </div>

        <div class="code">
            <p>Code</p>
            <div class="img-code">
                <a href="https://github.com/delasalle-sio-blandin-l/AstucePC"><img src="assets/img/GitHub.png" alt="Github" width="23px" height="23px"></a>
            </div>
        </div>
    </section>
</section>

<section class="ligne2">
    <section class="projet1">
        <div class="entete">
            <img src="assets/img/carre_noir.png" alt="img-projet" width="110px" height="110px">
            <h3>GG Partners</h3>
        </div>

        <p>Site e-commerce réalisé avec le CMS WordPress pour une entreprise à Dakar
            lors d'un stage. J'ai notamment utilisé le thème Divi et les widgets 
            ContactForm7 et WooCommerce.
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="assets/img/wordpress.png" alt="wordpress" width="23px" height="23px">
            </div>
        </div>
    </section>

    <section class="projet2">
        <div class="entete">
            <img src="assets/img/carre_noir.png" alt="img-projet" width="110px" height="110px">
            <h3>Recipe Manager</h3>
        </div>

        <p>Ce projet est un projet de cours realisé en binome. 
            Le but du projet est, qu'après s'être connecté ou inscrit, de 
            ajouter des ingrédients, des recettes et de les partager.
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="assets/img/symfony.png" alt="symfony" width="23px" height="23px">
            </div>
        </div>

        <div class="code">
            <p>Code</p>
            <div class="img-code">
                <a href="https://github.com/delasalle-sio-blandin-l/recipeManager"><img src="assets/img/GitHub.png" alt="Github" width="23px" height="23px"></a>
            </div>
        </div>
    </section>

    <section class="projet3">
        <div class="entete">
            <img src="assets/img/carre_noir.png" alt="img-projet" width="110px" height="110px">
            <h3>GG Partners</h3>
        </div>

        <p>Site e-commerce réalisé avec le CMS WordPress pour une entreprise à Dakar
            lors d'un stage. J'ai notamment utilisé le thème Divi et les widgets 
            ContactForm7 et WooCommerce.
        </p>

        <div class="technologies">
            <p>Technologies utilisées</p>
            <div class="img-techno">
                <img src="assets/img/wordpress.png" alt="wordpress" width="23px" height="23px">
            </div>
        </div>
    </section>
</section>
