.projet1, 
.projet2, 
.projet3 {
    width: 294px;
    height: 364px;
}

.ligne1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}

.ligne2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}

p {
    word-wrap: break-word;
}

.technologies p, 
.code p {
    font-weight: bold;
}
.img-techno, 
.entete {
    display: flex;
    align-items: center;
}

.titre {
    display: block;
}

.titre p {
    text-align: center;
    background-color: #059DEA;
    border-radius: 15px;
    color: white;
}

img {
    margin-right: 2rem;
}